ol {
	list-style: none;
	counter-reset: item;
	padding: 0;
}

ol li{
	background: white;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0;
	counter-increment: item;
}
ol li:before {
	margin-right: 10px;
	content: counter(item);
	background: #0039a6;
	border-radius: 100%;
	color: white;
	width: 1.6em;
	text-align: center;
	display: inline-block;
  }

p {
	line-height: 1.6;
}

.grid{
	display: grid;
	grid-template-columns: 50% 50%;
}

.guarantee {
	font-weight: bold;
}


/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {
	.grid{
		display: block;
	}
}



/* Mobile Styles */
@media (max-width: 600px) {
	.grid{
		display: block;
	}
}