.faq {
    margin-bottom: 20px;
}
.question {
    font-weight: bold;
    cursor: pointer;
    background: #cfdfff;
    padding:15px 20px;
    border-radius: 10px;
}
.answer {
    display: none;
    margin-top: 5px;
}
.default-answer {
    display: block; 
}