table,
th,
td {
	border: 1px solid;
}

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

caption {
	caption-side: top;
	font-size: 1.5em;
	font-weight: bold;
	margin: 20px 0;
}

th,
td {
	border: 1px solid #444;
	padding: 20px 10px;
	text-align: left;
}

table tr:nth-child(odd) {
	background-color: #ccc;
}

th {
	background-color: #000;
	color: #fff;
	font-weight: bold;
}

tr:hover {
	background-color: #aaa;
    font-weight: bolder;
}

tr img {
	display: block;
	margin: auto;
}
